@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body{
    font-family: 'Bebas Neue', sans-serif;
    color: white;
    background-color: #2A4B9C;
    text-align: center;
}
header{
    color: white;
    background-color: #1F3A7A;
}
h1{
    color: white;
}
.button{
    color: white;
    background-color: grey;
    top: 25px;
    right: 20px;
    position: absolute;
    border-radius: 15px;
    width: 60px;
    height: 30px;
    border:  5px grey;
}
#pesquisa {
  color: white;
  background-color: #b19cd9; /* roxo leve */
  border: 2px solid #6a0dad; /* roxo mais escuro para a borda */
  width: 160px;
  height: 40px;
  border-radius: 5px;
  padding: 5px;
  outline: none;
}

#pesquisa:hover {
  background-color: #a17ac7; /* roxo levemente mais escuro ao passar o mouse */
  color: white;
  border: 2px solid #5d0da0;
}

#pesquisa:focus {
  background-color: #9672b5; /* roxo ainda mais escuro ao focar */
  color: white;
  border: 2px solid #4b0082;
}

.linha-filmes
 {
    display: flex;
    overflow-x: auto;
    gap: 20px;
    padding: 10px 10px 30px;
    scroll-snap-type: x mandatory;
  }
  
  .linha-filmes::-webkit-scrollbar
   {
    height: 8px;
  }
  
  .linha-filmes::-webkit-scrollbar-thumb
   {
    background-color: #444;
    border-radius: 4px;
  }
  
  .filme
   {
    flex: 0 0 auto;
    scroll-snap-align: start;
  }
  
  .filme img 
  {
    width: 250px;
    height: 350px;
    object-fit: cover;
    border-radius: 15px;
    transition: transform 0.3s ease;
  }
  
  .filme img:hover 
  {
    transform: scale(1.05);
  }

