@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body{
    background-color: #2c2c2c;;
  color:  #f0f0f0;
   margin: 0;
  padding: 0;
  text-align: center;
}
h1{
      color: white;
  font-size: 25px;
  font-family: 'Bebas Neue', sans-serif;
  text-align: center;
  background-color: #333333;
  border-radius: 25px;
  padding: 15px 30px;
  margin: 20px auto;
  max-width: 600px;
  box-shadow: 0 4px 6px rgba(0, 0, 0,0.3);
}
p{
     font-size: 15px;
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.return{
    border-radius: 15px;
    color: #2c2c2c;
    background-color: #2c2c2c;
}