@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body{
    color: white;
    font-family: 'Bebas Neue', sans-serif;
    text-align: center;
    background-color: #009739; /* cor inicial */
    transition: background-color 1.5s ease;
}
header{
    background-color: white;
    width: 100%;
    height: 100%;
}
.button{
    color: white;
    background-color: blue;
    top: 17px;
    right: 20px;
    position: absolute;
    border: 5px blue;
    border-radius: 15px;
    width: 60px;
    height: 30px;
}
h1{
    color: blue;
    border: 5px white;
    font-size: 25px;
}
#pesquisa{
    color: white;
    background-color: blue;
    border: none;
    width: 160px;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
}
#pesquisa:hover{
    border: 5px yellow;
    background-color: yellow;
}
.centralizado 
  {
    display: flex;
    justify-content: center;
    align-items: center;
  }
#text{
     transition: color 1.5s ease;;
     opacity: 1;
}
.linha-filmes
 {
    display: flex;
    overflow-x: auto;
    gap: 20px;
    padding: 10px 10px 30px;
    scroll-snap-type: x mandatory;
  }
  
  .linha-filmes::-webkit-scrollbar
   {
    height: 8px;
  }
  
  .linha-filmes::-webkit-scrollbar-thumb
   {
    background-color: #444;
    border-radius: 4px;
  }
  
  .filme
   {
    flex: 0 0 auto;
    scroll-snap-align: start;
  }
  
  .filme img 
  {
    width: 250px;
    height: 350px;
    object-fit: cover;
    border-radius: 15px;
    transition: transform 0.3s ease;
  }
  
  .filme img:hover 
  {
    transform: scale(1.05);
  }
  .centralizado
  {
    display: flex;
    justify-content: center;
    align-items: center;
  }