@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body{
    font-family: 'Bebas Neue', sans-serif;
    color: white;
    background-color: #FFFF66;
}
header{
    color: wheat;
    background-color: yellow;
    text-align: center;
}
h1{
    color: black;
    font-size: 25px;
}

.centralizado 
  {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .pesquisa
  {
    width: 160px;
    height: 40px;
    color: black;
    background-color: white;
    border: none;
    border-radius: 5px;
  }
  .pesquisa:hover{
    background-color: #ff0;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
  }
  .linha-filmes
 {
    display: flex;
    overflow-x: auto;
    gap: 20px;
    padding: 10px 10px 30px;
    scroll-snap-type: x mandatory;
  }
  
  .linha-filmes::-webkit-scrollbar
   {
    height: 8px;
  }
  
  .linha-filmes::-webkit-scrollbar-thumb
   {
    background-color: #444;
    border-radius: 4px;
  }
  
  .filme
   {
    flex: 0 0 auto;
    scroll-snap-align: start;
  }
  
  .filme img 
  {
    width: 250px;
    height: 350px;
    object-fit: cover;
    border-radius: 15px;
    transition: transform 0.3s ease;
  }
  
  .filme img:hover 
  {
    transform: scale(1.05);
  }
  
 .riso {
    position: absolute;
    font-size: 2rem;
    animation-name: subir;
    animation-timing-function: linear;
  }
  @keyframes subir {
    0% { bottom: -50px; opacity: 1; }
    100% { bottom: 100vh; opacity: 0; }
  }
  #toggleButton {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 10px 15px;
    background: #222;
    color: #ff0;
    border: 2px solid #ff0;
    cursor: pointer;
    border-radius: 5px;
  }
  #toggleButton:hover {
    background: #ff0;
    color: #111;
  }
    .button {
    position: absolute;
    top: 15px;
    right: 20px;
    padding: 10px 15px;
    background: #222;
    color: #ff0;
    border: 2px solid #ff0;
    cursor: pointer;
    border-radius: 5px;
  }
  .button:hover {
    background: #ff0;
    color: #111;
  }