@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body{
    font-family: 'Bebas Neue', sans-serif;
    color: white;
    background-color: #000;
}
header{
    color: white;
    background-color: #0f0;
    text-align: center;
}
h1{
    color: white;
    font-size: 35px;
}
#pesquisa {
  color: white;
  background-color: #0f0;
  border: 2px solid black;
  width: 130px;
  height: 30px;
  border-radius: 5px;
  padding: 5px; 
  outline: none; 
}

#pesquisa:hover {
  background-color: #0c0; 
  color: black;
  border: 2px solid #000;
}

#pesquisa:focus {
  background-color: #0a0;
  color: white;
  border: 2px solid #333;
}

.linha-filmes
 {
    display: flex;
    overflow-x: auto;
    gap: 20px;
    padding: 10px 10px 30px;
    scroll-snap-type: x mandatory;
  }
  
  .linha-filmes::-webkit-scrollbar
   {
    height: 8px;
  }
  
  .linha-filmes::-webkit-scrollbar-thumb
   {
    background-color: #444;
    border-radius: 4px;
  }
  
  .filme
   {
    flex: 0 0 auto;
    scroll-snap-align: start;
  }
  
  .filme img 
  {
    width: 250px;
    height: 350px;
    object-fit: cover;
    border-radius: 15px;
    transition: transform 0.3s ease;
  }
  
  .filme img:hover 
  {
    transform: scale(1.05);
  }

.centralizado 
{
  display: flex;
  justify-content: center;
  align-items: center;
}
.ovni {
  position: absolute;
  font-size: 2rem;
  animation-name: subir;
  animation-timing-function: linear;
  animation-fill-mode: forwards; /* mantém o estado final da animação */
  /* a duração será definida pelo JS dinamicamente */
}

@keyframes subir {
  0% {
    bottom: -50px;
    opacity: 1;
  }
  100% {
    bottom: 100vh;
    opacity: 0;
  }
}

  #toggleButton {
    position: absolute;
    top: 25px;
    left: 10px;
    padding: 10px 15px;
    background: #222;
    color: #0f0;
    border: 2px solid #0f0;
    cursor: pointer;
    border-radius: 5px;
  }
  .button{
    color: white;
    background-color: #222;
    border-radius: 15px;
    right: 20px;
    top: 25px;
    position: absolute;
    padding: 10px 15px;
  }
  #toggleButton:hover {
    background: #0f0;
    color: #000;
  }
