@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body{
  color: white;
  background-color: black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
header{
  color: white;
  background-color: black;
}
h1{
  color: red;
  border: 5px white;
  font-size: 25px;
}
#h{
  color: white;
  position: absolute;
  font-size: 25px;
  border: 5px red;
  right: 35px;
  top: -10px;
}
/*guias*/
.tab {
  display: flex;
  border-bottom: 1px solid black;
  background-color: black;
}

.tab a {
  padding: 10px 20px;
  text-decoration: none;
  color: white;              /* texto branco */
  border-right: 2px solid red; /* borda vermelha entre as abas */
  background-color: black;     /* fundo vermelho das abas */
  border: #990000;
  border: 5px;
  transition: 0.3s;
}

.tab a:last-child {
  border-right: none;        /* remove borda do último link */
}

.tab a:hover {
  background-color: #cc0000; /* vermelho mais escuro no hover */
}

.tab a.active {
  background-color: #990000; /* vermelho mais fechado na aba ativa */
}

.content {
  padding: 20px;
  color: white;              
  background-color: black;
}
.container {
  color: white;
  background-color: rgba(0, 0, 0, 0.75); /* fundo semi-transparente */
  text-align: center;
  width: 100%;
  max-width: 350px;
  padding: 60px 40px;
  border-radius: 8px;
  margin: auto;
  box-shadow: 0 0 40px rgba(229, 9, 20, 0.6); /* brilho vermelho estilo Netflix */
  font-family: Arial, sans-serif;
}

/* Inputs */
.container input {
  width: 100%;
  padding: 14px;
  margin: 10px 0;
  border: none;
  border-radius: 4px;
  background: #333;
  color: #fff;
  font-size: 16px;
}
.container input:focus {
  outline: 2px solid #e50914; 
}
/* Botão */
.container button {
  width: 100%;
  padding: 14px;
  margin-top: 15px;
  border: none;
  border-radius: 4px;
  background: #e50914;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease;
}
.container button:hover {
  background: #f40612;
}
.cadastro{
  color: red;
  font-size: 15px;
}