@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body{
    background-color: black;
  color:  #f0f0f0;
   margin: 0;
  padding: 0;
}
h1{
      color: white;
  font-size: 25px;
  font-family: 'Bebas Neue', sans-serif;
  text-align: center;
}
/*guias*/
.tab {
  display: flex;
  border-bottom: 1px solid black;
  background-color: black;
}

.tab a {
  padding: 10px 20px;
  text-decoration: none;
  color: white;              /* texto branco */
  border-right: 2px solid red; /* borda vermelha entre as abas */
  background-color: black;     /* fundo vermelho das abas */
  border: #990000;
  border: 5px;
  transition: 0.3s;
}

.tab a:last-child {
  border-right: none;        /* remove borda do último link */
}

.tab a:hover {
  background-color: #cc0000; /* vermelho mais escuro no hover */
}

.tab a.active {
  background-color: #990000; /* vermelho mais fechado na aba ativa */
}

.content {
  padding: 20px;
  color: white;              /* conteúdo branco pra ficar legível no fundo preto */
  background-color: black;
}
p{
     font-size: 15px;
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
}
.sliderAutoTrakio {
  position: relative;
  width: 700px;
  height: 400px;
  margin: auto;
  overflow: hidden;
  border-radius: 15px;
   transition: 0.5s;

}
.sliderAutoTrakio img {
  position: absolute;
  width: 100%;
  height: 150%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  border-radius: 15px;
   transition: 0.5s;
}
.sliderAutoTrakio .ativo {
  opacity: 1;
  z-index: 1;
}
.question{
    border-radius: 15px;
    color: #f0f0f0;
    background-color: #2c2c2c;
    width: 60px;
   height: 35px;
}
.feed{
    background-color: #2c2c2c;
    border-radius: 15px;
    width: 50px;
    height: 40px;
}
#dev{
     box-shadow: 0 4px 6px rgba(0, 0, 0,0.3);
      font-size: 15px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}
img:hover{
  transform: scale(1.05);
}
.div{
  text-align: center;
}