<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alerta Vermelho</title>
    <link rel="stylesheet" href="/home/petrakiio/Documentos/Programação/HTML and CSS/Cinetrakiio/CSS/generosP.css">
</head>
<body>
    <header>
        <h1>Alerta Vermelho</h1>
        <form action="" method="get">
            <button class="button" type="submit">
                Voltar
            </button>
        </form>
    </header><br>

    <h2>Descrição</h2>
    <main class="conteudo">
        <img src="/Imagens/ação/alerta vermelho.webp">
        <p>
            Alerta Vermelho é um filme de ação e comédia que acompanha um agente do FBI (Dwayne Johnson)
             que está atrás dos dois criminosos mais procurados do mundo: uma ladra de arte (Gal Gadot) e um ladrão de obras-primas 
             (Ryan Reynolds). Entre perseguições, trocas de alianças e muita confusão, 
            eles precisam se unir para capturar um inimigo em comum, com muita ação, humor e reviravoltas.
        </p>  
    </main>
    <p id="trailer">Trailer</p>
    <iframe 
    width="560" 
    height="315" 
    src="https://www.youtube.com/embed/JKJx7p2_YkA?si=Mjz_NYH0SsdJh3wx" 
    frameborder="0" 
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
    allowfullscreen>
    </iframe>
    <script src="/javascript/theme-global.js"></script>
</body>
</html>
