<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Exterminador do Futuro</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/generosP.css') }}" />
</head>
<body>
    <header>
        <h1>Exterminador do Futuro</h1>
        <form action="/HTML/acao.html" method="get">
            <button class="button" type="submit">Voltar</button>
        </form>
    </header>
    <br />

    <h2>Descrição</h2>
    <main class="conteudo">
        <img src="{{ url_for('static', filename='img/ação/exterminador do futuro.webp') }}" alt="Pôster do filme Exterminador do Futuro" />
        <p>
            "Exterminador do Futuro" é um filme de ficção científica e ação que acompanha um ciborgue assassino (Arnold Schwarzenegger)
            enviado do futuro para matar Sarah Connor, a mãe do futuro líder da resistência humana contra as máquinas. 
            Um policial também é enviado para protegê-la, dando início a uma corrida contra o tempo para salvar o futuro da humanidade.
        </p>
    </main>

    <p id="trailer">Trailer</p>
    <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/8Btq9PuwSxc"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
    ></iframe>
    <script src="{{ url_for('static', filename='script/theme-global.js') }}"></script>
</body>
</html>
