<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gladiador</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/generosP.css') }}">
</head>
<body>
    <header>
        <h1>Gladiador</h1>
        <form action="/HTML/acao.html" method="get">
            <button class="button" type="submit">
                Voltar
            </button>
        </form>
    </header>
    
    <br>

    <h2>Descrição</h2>
    <main class="conteudo">
        <img src="{{ url_for('static', filename='img/ação/gladiador.jpg') }}" alt="Capa do filme Gladiador">
        <p>
            "Gladiador" é um épico de ação lançado em 2000, dirigido por Ridley Scott. 
            O filme acompanha Maximus Decimus Meridius, um general romano traído que se torna escravo e posteriormente um gladiador, 
            buscando vingança contra o imperador corrupto que destruiu sua família. 
            Com atuações marcantes e batalhas intensas, o filme é considerado um dos maiores clássicos do cinema moderno.
        </p>  
    </main>

    <p id="trailer">Trailer</p>
    <iframe 
        width="560" 
        height="315" 
        src="https://www.youtube.com/embed/P5ieIbInFpg" 
        frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
        allowfullscreen>
    </iframe>    
    <script src="{{ url_for('static', filename='script/theme-global.js') }}"></script>
</body>
</html>
