<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>John Wick</title>
    <link rel="stylesheet" href="/CSS/generosP.css" />
</head>
<body>
    <header>
        <h1>Exterminador do Futuro</h1>
        <form action="/HTML/acao.html" method="get">
            <button class="button" type="submit">Voltar</button>
        </form>
    </header>
    <br />

    <h2>Descrição</h2>
    <main class="conteudo">
        <img src="/Imagens/ação/John Wick.webp" alt="Pôster do filme Exterminador do Futuro" />
        <p>
            Após a morte de sua esposa, o ex-assassino de aluguel John Wick leva uma vida solitária e pacífica.
             Quando o filho de um mafioso russo invade sua casa, rouba seu carro e mata seu cachorro 
             último presente de sua esposa – John sai da aposentadoria em busca de vingança. Ao fazer isso, ele entra novamente no submundo do crime,
             enfrentando velhos inimigos e mostrando por que é uma lenda entre os assassinos profissionais.
        </p>
    </main>

    <p id="trailer">Trailer</p>
    <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/amhhSmP552c"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
    ></iframe>
    <script src="/javascript/theme-global.js"></script>
</body>
</html>
