<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Missão Impossível: Efeito Fallout</title>
    <link rel="stylesheet" href="/CSS/generosP.css" />
</head>
<body>
    <header>
        <h1>Missão Impossível: Efeito Fallout</h1>
        <form action="/HTML/acao.html" method="get">
            <button class="button" type="submit">Voltar</button>
        </form>
    </header>

    <br />

    <h2>Descrição</h2>
    <main class="conteudo">
        <img src="/Imagens/ação/missão impossivel.jpg" alt="Capa do filme Missão Impossível: Efeito Fallout" />
        <p>
            "Missão Impossível: Efeito Fallout" é o sexto filme da franquia Missão Impossível, lançado em 2018. 
            Dirigido por Christopher McQuarrie, o filme traz Ethan Hunt e sua equipe enfrentando uma ameaça global enquanto lidam com as consequências de uma missão que deu errado. 
            Repleto de cenas de ação impressionantes e sequências de tirar o fôlego, é considerado um dos melhores filmes da série.
        </p>
    </main>

    <p id="trailer">Trailer</p>
    <iframe 
        width="560" 
        height="315" 
        src="https://www.youtube.com/embed/wb49-oV0F78" 
        frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
        allowfullscreen>
    </iframe>
    <script src="/javascript/theme-global.js"></script>
</body>
</html>
