<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>As Branquelas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/generosP.css') }}">
</head>
<body>
    <header>
        <h1>As Branquelas</h1>
        <form action="/HTML/comedia.html" method="get">
            <button class="button" type="submit">
                Voltar
            </button>
        </form>
    </header><br>

    <h2>Descrição</h2>
    <main class="conteudo">
        <img src="{{ url_for('static', filename='img/comedia/As branquelas.jpeg') }}" alt="As Branquelas">
        <p>
            <strong>As Branquelas</strong> é uma comédia icônica que acompanha os agentes do FBI Kevin e Marcus (interpretados pelos irmãos Shawn e Marlon Wayans),
            que assumem disfarces inusitados para proteger duas socialites brancas de um possível sequestro. Para isso, eles se transformam fisicamente
            nas irmãs Wilson, causando diversas situações hilárias e constrangedoras enquanto tentam manter suas identidades em segredo.
            O filme é repleto de cenas memoráveis, críticas sociais sutis e muito humor pastelão.
        </p>  
    </main>

    <p id="trailer">Trailer</p>
    <iframe 
        width="560" 
        height="315" 
        src="https://www.youtube.com/embed/aeVkbNka9HM?si=RSMn8WgRi7mGrbXU" 
        frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
        allowfullscreen>
    </iframe>
    <script src="{{ url_for('static', filename='script/theme-global.js') }}"></script>
</body>
</html>

