<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deadpool</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/generosP.css') }}">
</head>
<body>
    <header>
        <h1>Deadpool</h1>
        <form action="/HTML/comedia.html" method="get">
            <button class="button" type="submit">
                Voltar
            </button>
        </form>
    </header><br>

    <h2>Descrição</h2>
    <main class="conteudo">
        <img src="{{ url_for('static', filename='img/comedia/DeadPool.png') }}" alt="Deadpool - Filme">
        <p>
            <strong>Deadpool</strong> é um irreverente filme de ação e comédia estrelado por Ryan Reynolds no papel do anti-herói mais sarcástico da Marvel. 
            A história acompanha Wade Wilson, um ex-militar e mercenário que, após ser diagnosticado com câncer terminal, 
            aceita participar de um experimento que acaba lhe concedendo habilidades de cura acelerada — mas o deixa desfigurado. 
            Assumindo a identidade de Deadpool, ele embarca em uma missão brutal (e hilária) de vingança contra aqueles que arruinaram sua vida. 
            O filme se destaca pelo humor ácido, quebra da quarta parede e cenas de ação intensas.
        </p>  
    </main>

    <p id="trailer">Trailer</p>
    <iframe 
        width="560" 
        height="315" 
        src="https://www.youtube.com/embed/ONHBaC-pfsk?si=W1rpDB3W7kH16rHl" 
        frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
        allowfullscreen>
    </iframe>
    <script src="{{ url_for('static', filename='script/theme-global.js') }}"></script>
</body>
</html>
