<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Esposa de Mentirinha</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/generosP.css') }}">
</head>
<body>
    <header>
        <h1>Esposa de Mentirinha</h1>
        <form action="/HTML/comedia.html" method="get">
            <button class="button" type="submit">
                Voltar
            </button>
        </form>
    </header><br>

    <h2>Descrição</h2>
    <main class="conteudo">
        <img src="{{ url_for('static', filename='img/comedia/esposa de mentirinhae.jpg') }}" alt="Esposa de Mentirinha - Filme">
        <p>
            <strong>Esposa de Mentirinha</strong> é uma comédia romântica estrelada por Adam Sandler e Jennifer Aniston. 
            Na trama, Danny é um cirurgião plástico que finge ser casado para conquistar mulheres, até que conhece Palmer, 
            por quem realmente se apaixona. Para manter a mentira, ele pede à sua assistente Katherine que finja ser sua ex-esposa, 
            e a confusão aumenta quando os filhos dela também entram no plano. O filme é leve, divertido e cheio de situações cômicas, 
            com lições sobre amor verdadeiro e honestidade.
        </p>  
    </main>

    <p id="trailer">Trailer</p>
    <iframe 
        width="560" 
        height="315" 
        src="https://www.youtube.com/embed/QmL1mdzS544" 
        frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
        allowfullscreen>
    </iframe>
    <script src="{{ url_for('static', filename='script/theme-global.js') }}"></script>
</body>
</html>
