<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Superbad</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/generosP.css') }}">
</head>
<body>
    <header>
        <h1>Superbad</h1>
        <form action="/HTML/comedia.html" method="get">
            <button class="button" type="submit">
                Voltar
            </button>
        </form>
    </header><br>

    <h2>Descrição</h2>
    <main class="conteudo">
        <img src="{{ url_for('static', filename='img/comedia/SuperBad.webp') }}" alt="Superbad - Filme">
        <p>
            Superbad (2007) é uma comédia adolescente que se tornou um clássico moderno do gênero. A trama acompanha os inseparáveis amigos Seth (Jonah Hill) e Evan (Michael Cera),
            que estão prestes a se formar no colégio e desejam aproveitar ao máximo sua última chance de curtir uma festa épica. 
            Com a ajuda do atrapalhado amigo Fogell, também conhecido como McLovin, eles embarcam em uma jornada caótica atrás de bebidas alcoólicas e conquistas amorosas.
            Cheio de situações absurdas, diálogos hilários e muita irreverência, Superbad é um retrato exagerado e divertido da adolescência.
        </p>  
    </main>

    <p id="trailer">Trailer</p>
    <iframe 
        width="560" 
        height="315" 
        src="https://www.youtube.com/embed/4eaZ_48ZYog" 
        frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
        allowfullscreen>
    </iframe>
    <script src="{{ url_for('static', filename='script/theme-global.js') }}"></script>
</body>
</html>
