<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Corra!</title>
    <link rel="stylesheet" href="/CSS/generosP.css" />
</head>
<body>
    <header>
        <h1>Corra!</h1>
        <form action="/index.html" method="get">
            <button class="button" type="submit">Voltar</button>
        </form>
    </header><br />

    <h2>Descrição</h2>
    <main class="conteudo">
        <img src="/Imagens/terror/Corra!.webp" alt="Corra! - Filme" />
        <p>
            Corra! (2017) é um thriller de terror dirigido por Jordan Peele que mistura suspense, crítica social e horror psicológico.
            O filme acompanha Chris, um jovem negro que vai conhecer a família de sua namorada branca em um fim de semana que se revela cada vez mais perturbador.
            Repleto de tensão e reviravoltas, "Corra!" é uma obra que desafia os gêneros e provoca reflexão sobre racismo e preconceito.
        </p>
    </main>

    <p id="trailer">Trailer</p>
    <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/mDGV5UucTu8"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen>
    </iframe>
    <script src="/javascript/theme-global.js"></script>
</body>
</html>
