<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Jurassic Park</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/generosP.css') }}" />
</head>
<body>
    <header>
        <h1>Jurassic Park</h1>
        <form action="{{ url_for('home.index') }}" method="get">
            <button class="button" type="submit">Voltar</button>
        </form>
    </header><br />

    <h2>Descrição</h2>
    <main class="conteudo">
        <img src="{{ url_for('static', filename='img/ficção/jurassic park.jpg') }}" alt="Jurassic Park - Filme" />
    <p>
        "Jurassic Park" (1993) é um clássico da ficção científica e aventura dirigido por Steven Spielberg,
        baseado no livro de Michael Crichton. O filme narra a história do bilionário John Hammond, que cria um parque temático com dinossauros
        clonados a partir de DNA pré-histórico. Quando uma falha de segurança ocorre, os dinossauros escapam, colocando os visitantes em perigo.
        Com efeitos visuais revolucionários para a época e cenas emocionantes, o filme se tornou um marco do cinema e iniciou uma das franquias mais famosas do mundo.
    </p>

    </main>

    <p id="trailer">Trailer</p>
    <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/QWBKEmWWL38"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen>
    </iframe>
    <script src="{{ url_for('static', filename='script/theme-global.js') }}"></script>
</body>
</html>
