<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Lembranças</title>
    <link rel="stylesheet" href="/CSS/generosP.css" />
</head>
<body>
    <header>
        <h1>Lembranças</h1>
        <form action="/index.html" method="get">
            <button class="button" type="submit">Voltar</button>
        </form>
    </header><br />

    <h2>Descrição</h2>
    <main class="conteudo">
        <img src="/Imagens/romance/Lembranças.webp" alt="Lembranças - Filme" />
        <p>
            "Lembranças" (2010), dirigido por Allen Coulter, é um drama romântico estrelado por Robert Pattinson, Emilie de Ravin, Pierce Brosnan e Chris Cooper.
            O filme conta a história de Tyler, um jovem marcado por uma tragédia familiar, e Ally, uma garota que também carrega feridas do passado.
            Ao se conhecerem, eles encontram um no outro uma forma de cura, amor e redenção.
            Com uma trama emocional e um final impactante, "Lembranças" aborda temas como perda, reconciliação e a importância de valorizar o presente.
        </p>
    </main>

    <p id="trailer">Trailer</p>
    <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/Gq8L6xRm5I8"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen>
    </iframe>
    <script src="/javascript/theme-global.js"></script>
</body>
</html>
