<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Me Chame Pelo Seu Nome</title>
    <link rel="stylesheet" href="/CSS/generosP.css" />
</head>
<body>
    <header>
        <h1>Me Chame Pelo Seu Nome</h1>
        <form action="/index.html" method="get">
            <button class="button" type="submit">Voltar</button>
        </form>
    </header><br />

    <h2>Descrição</h2>
    <main class="conteudo">
        <img src="/Imagens/romance/Me chame pelo seu nome.webp" alt="Me Chame Pelo Seu Nome - Filme" />
        <p>
            "Me Chame Pelo Seu Nome" (2017) é um drama romântico dirigido por Luca Guadagnino e baseado no romance de André Aciman.
            Ambientado no verão de 1983, no norte da Itália, o filme conta a história do jovem Elio, de 17 anos, que desenvolve uma relação intensa e transformadora com Oliver, um estudante americano hospedado em sua casa.
            Com uma fotografia deslumbrante e atuações marcantes de Timothée Chalamet e Armie Hammer, o filme aborda o amor, a descoberta da sexualidade e o amadurecimento com sensibilidade e delicadeza.
            Foi indicado a vários prêmios e venceu o Oscar de Melhor Roteiro Adaptado.
        </p>
    </main>

    <p id="trailer">Trailer</p>
    <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/Z9AYPxH5NTM"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen>
    </iframe>
    <script src="/javascript/theme-global.js"></script>
</body>
</html>
