<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>O Virgem de 40 Anos</title>
    <link rel="stylesheet" href="/CSS/generosP.css">
</head>
<body>
    <header>
        <h1>O Virgem de 40 Anos</h1>
        <form action="/index.html" method="get">
            <button class="button" type="submit">
                Voltar
            </button>
        </form>
    </header><br>

    <h2>Descrição</h2>
    <main class="conteudo">
        <img src="/Imagens/comedia/O virgem aos 40.webp" alt="O Virgem de 40 Anos - Filme">
        <p>
            O Virgem de 40 Anos (2005) é uma comédia dirigida por Judd Apatow e estrelada por Steve Carell, que interpreta Andy,
            um homem gentil, tímido e colecionador de bonecos que, aos 40 anos, ainda é virgem.
            Quando seus colegas de trabalho descobrem esse "segredo", eles decidem ajudá-lo a finalmente perder a virgindade, 
            o que dá início a uma série de situações constrangedoras e hilárias.
            O filme combina humor escrachado com momentos tocantes e se tornou um marco das comédias dos anos 2000.
        </p>  
    </main>

    <p id="trailer">Trailer</p>
    <iframe 
        width="560" 
        height="315" 
        src="https://www.youtube.com/embed/YnDeJn-BX5Q" 
        frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
        allowfullscreen>
    </iframe>
    <script src="/javascript/theme-global.js"></script>
</body>
</html>
