<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Segurança de Shopping</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/generosP.css') }}">
</head>
<body>
    <header>
        <h1>Segurança de Shopping</h1>
        <form action="/HTML/comedia.html" method="get">
            <button class="button" type="submit">
                Voltar
            </button>
        </form>
    </header><br>

    <h2>Descrição</h2>
    <main class="conteudo">
        <img src="{{ url_for('static', filename='img/comedia/Segurança de guarda.webp') }}" alt="Segurança de Shopping - Filme">
        <p>
            Segurança de Shopping (2009) é uma comédia estrelada por Kevin James no papel de Paul Blart, um dedicado,
            porém atrapalhado segurança de um shopping center. Sonhando em se tornar policial, Paul leva seu trabalho muito a sério,
            mesmo que ninguém mais o leve. Quando uma gangue invade o shopping durante a Black Friday, ele é o único que pode salvar o dia.
            Com muito humor pastelão, perseguições hilárias e cenas absurdas, o filme é uma diversão leve para toda a família.
        </p>  
    </main>

    <p id="trailer">Trailer</p>
    <iframe 
        width="560" 
        height="315" 
        src="https://www.youtube.com/embed/6na0RVIcOjk"
        frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
        allowfullscreen>
    </iframe>
    <script src="{{ url_for('static', filename='script/theme-global.js') }}"></script>
</body>
</html>
