<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>It: A Coisa</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/generosP.css') }}" />
</head>
<body>
    <header>
        <h1>It: A Coisa</h1>
        <form action="/HTML/terror.html" method="get">
            <button class="button" type="submit">Voltar</button>
        </form>
    </header><br />

    <h2>Descrição</h2>
    <main class="conteudo">
        <img src="{{ url_for('static', filename='img/terror/it a coisa.webp') }}" alt="It: A Coisa - Filme" />
        <p>
            It: A Coisa (2017) é um filme de terror baseado no romance de Stephen King que acompanha um grupo de crianças,
            conhecido como o Clube dos Perdedores, que enfrenta uma entidade maléfica que assume a forma do palhaço Pennywise.
            O filme combina elementos de horror sobrenatural com uma história de amizade, coragem e crescimento.
            Com cenas assustadoras e uma atmosfera carregada, "It" é um marco moderno do gênero.
        </p>
    </main>

    <p id="trailer">Trailer</p>
    <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/xKJmEC5ieOk"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen>
    </iframe>
    <script src="{{ url_for('static', filename='script/theme-global.js') }}"></script>
</body>
</html>
