{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ação</title>
    <link rel="stylesheet" href="{% static 'CSS/acao.css' %}">
</head>
<body>

    <header class="header">
        <h1 id="h1">Ação</h1>
        <div class="righ">
            <form action="{% url 'index' %}" method="get">
            <button class="button" type="submit">
                Voltar
            </button>
        </form>
        </div>
        <div class="left">
            <button class="button" id="toggle">Desativar balas</button>
        </div>
    </header>


        <form>
            <div class="centralizado">
                <input type="text" id="pesquisa" placeholder="Busque por adrenalina">
            </div>          
        </form>

    <div class="linha-filmes">
        <div class="filme">
            <a href="{% url 'filme_legado' genero_atual='acao' legacy_path='Ação/alertavermelho.html' %}">
                <img src="{% static 'img/ação/alerta vermelho.webp' %}">
            </a>
            <a href="{% url 'filme_legado' genero_atual='acao' legacy_path='Ação/ultimohomen.html' %}">
                <img src="{% static 'img/ação/ate o ultimo homem.jpg' %}">
            </a>
            <a href="{% url 'filme_legado' genero_atual='acao' legacy_path='Ação/badboys.html' %}">
                <img src="{% static 'img/ação/bad boys.webp' %}">
            </a>
            <a href="{% url 'filme_legado' genero_atual='acao' legacy_path='Ação/clube_luta.html' %}">
                <img src="{% static 'img/ação/clube da luta.webp' %}">
            </a>
            <a href="{% url 'filme_legado' genero_atual='acao' legacy_path='Ação/durodematar.html' %}">
                <img src="{% static 'img/ação/duro de matar.jpg' %}">
            </a>
            <a href="{% url 'filme_legado' genero_atual='acao' legacy_path='Ação/missaoimpossivel.html' %}">
                <img src="{% static 'img/ação/missão impossivel.jpg' %}">
            </a>
        </div>
    </div>
    <div class="linha-filmes">
        <div class="filme"> 
            <a href="{% url 'filme_legado' genero_atual='acao' legacy_path='Ação/exterminador.html' %}">
                <img src="{% static 'img/ação/exterminador do futuro.webp' %}">
            </a>
            <a href="{% url 'filme_legado' genero_atual='acao' legacy_path='Ação/gladiador.html' %}">
                <img src="{% static 'img/ação/gladiador.jpg' %}">
            </a>
            <a href="{% url 'filme_legado' genero_atual='acao' legacy_path='Ação/johnwick.html' %}">
                <img src="{% static 'img/ação/John Wick.webp' %}">
            </a>
            <a href="{% url 'filme_legado' genero_atual='acao' legacy_path='Ação/madmax.html' %}">
                <img src="{% static 'img/ação/Mad Max.jpg' %}">
            </a>
            <a href="{% url 'filme_legado' genero_atual='acao' legacy_path='Ação/mercenarios.html' %}">
                <img src="{% static 'img/ação/mercenarios.jpg' %}">
            </a>
            <a href="{% url 'filme_legado' genero_atual='acao' legacy_path='Ação/protetor.html' %}">
                <img src="{% static 'img/ação/O protetor.webp' %}">
            </a>
        </div>
    </div>
    <script src="{% static 'script/acao.js' %}"></script>
    <script src="{% static 'script/search_generos.js' %}"></script>
    <script src="{% static 'script/theme-global.js' %}"></script>
</body>
</html>