<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ficção</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/ficcao.css') }}">
</head>
<body>
    <header>
        <h1 >Ficção</h1>
            <form action="{{ url_for('home.index') }}" method="get">
                <button class="button" type="submit">
                    Voltar
                </button>
            </form>
            <button id="toggleButton">Desativar ovnis</button>
    </header>

    <form>
            <div class="centralizado">
                <input type="text" id="pesquisa" placeholder="Busque por ciencia">
            </div>          
        </form>
    <div class="linha-filmes">
        <div class="filme">
            <a href="./generosP/Ficção/alien.html">
                <img src="{{ url_for('static', filename='img/ficção/alien.webp') }}">
            </a>
            <a href="./generosP/Ficção/bladerunner.html">
                <img src="{{ url_for('static', filename='img/ficção/blade runner.jpg') }}">
            </a>
            <a href="./generosP/Ficção/guardioes.html">
                <img src="{{ url_for('static', filename='img/ficção/guardião.webp') }}">
            </a>
            <a href="./generosP/Ficção/harry.html">
                <img src="{{ url_for('static', filename='img/ficção/harry potter.jpg') }}">
            </a>
            <a href="./generosP/Ficção/jurasicpark.html">
                <img src="{{ url_for('static', filename='img/ficção/jurassic park.jpg') }}">
            </a>
            <a href="./generosP/Ficção/jurasicpark.html">
                <img src="{{ url_for('static', filename='img/ficção/lugar silencioso.webp') }}">
            </a>
        </div>
    </div>
    <div class="linha-filmes">
        <div class="filme"> 
            <a href="./generosP/Ficção/matrix.html">
                <img src="{{ url_for('static', filename='img/ficção/matrix.jpg') }}">
            </a>
            <a href="./generosP/Ficção/show.html">
                <img src="{{ url_for('static', filename='img/ficção/o show de trumam.webp') }}">
            </a>
            <a href="./generosP/Ficção/piratas.html">
                <img src="{{ url_for('static', filename='img/ficção/pirata do caribe.jpg') }}">
            </a>
            <a href="./generosP/Ficção/star.html">
                <img src="{{ url_for('static', filename='img/ficção/star wars.png') }}">
            </a>
            <a href="./generosP/Ficção/uncharted.html">
                <img src="{{ url_for('static', filename='img/ficção/uncharted.webp') }}">
            </a>
            <a href="./generosP/Ficção/interstelar.html">
                <img src="{{ url_for('static', filename='img/ficção/interstellar.webp') }}">
            </a>
        </div>
    </div>
    <script src="{{ url_for('static', filename='script/ficcao.js') }}"></script>
    <script src="{{ url_for('static', filename='script/search_generos.js') }}"></script>
    <script src="{{ url_for('static', filename='script/theme-global.js') }}"></script>
</body>
</html>