{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Romance</title>
    <link rel="stylesheet" href="{% static 'CSS/romance.css' %}">
</head>
<body>
    <header>
        <h1>
            Romance
        </h1>
        <button id="toggleButton">
            Desativar
        </button>
        <form action="{% url 'index' %}" method="get">
            <button class="button" type="submit">
                Voltar
            </button>
        </form>
    </header>

    <form>
        <div class="centralizado">
            <input type="text" placeholder="Busque pelo amor" class="pesquisa">
        </div>
    </form>

    <div class="linha-filmes">
        <div class="filme">
            <a href="{% url 'filme_legado' genero_atual='romance' legacy_path='Romance/antesdeamanhecer.html' %}">
                <img src="{% static 'img/romance/Antes de amanhecer.webp' %}">
            </a>
            <a href="{% url 'filme_legado' genero_atual='romance' legacy_path='Romance/Azuleacormaisquente.html' %}">
                <img src="{% static 'img/romance/Azul é a cor mais quente.jpg' %}">
            </a>
            <a href="{% url 'filme_legado' genero_atual='romance' legacy_path='Romance/comoperderumhomem.html' %}">
                <img src="{% static 'img/romance/como perder um homem.webp' %}">
            </a>
            <a href="{% url 'filme_legado' genero_atual='romance' legacy_path='Romance/diariopaixão.html' %}">
                <img src="{% static 'img/romance/Diario de uma paixão.jpg' %}">
            </a>
            <a href="{% url 'filme_legado' genero_atual='romance' legacy_path='Romance/docenovembro.html' %}">
                <img src="{% static 'img/romance/Doce Novembro.jpg' %}">
            </a>
            <a href="{% url 'filme_legado' genero_atual='romance' legacy_path='Romance/lembranças.html' %}">
                <img src="{% static 'img/romance/Lembranças.webp' %}">
            </a>
        </div>
    </div>
    <div class="linha-filmes">
        <div class="filme">
            <a href="{% url 'filme_legado' genero_atual='romance' legacy_path='Romance/mechamepelonome.html' %}">
                <img src="{% static 'img/romance/Me chame pelo seu nome.webp' %}">
            </a>
            <a href="{% url 'filme_legado' genero_atual='romance' legacy_path='Romance/naturezaselvagem.html' %}">
                <img src="{% static 'img/romance/Na Natureza Selvagem.jpg' %}">
            </a>
            <a href="{% url 'filme_legado' genero_atual='romance' legacy_path='Romance/pacienteingles.html' %}">
                <img src="{% static 'img/romance/O paciente inglês.jpg' %}">
            </a>
            <a href="{% url 'filme_legado' genero_atual='romance' legacy_path='Romance/orgulho&preconceito.html' %}">
                <img src="{% static 'img/romance/Orgulho e preconceito.webp' %}">
            </a>
            <a href="{% url 'filme_legado' genero_atual='romance' legacy_path='Romance/iloveyou.html' %}">
                <img src="{% static 'img/romance/P.S. Eu Te Amo.jpg' %}">
            </a>
            <a href="{% url 'filme_legado' genero_atual='romance' legacy_path='Romance/retrato.html' %}">
                <img src="{% static 'img/romance/Retrato de uma Jovem em Chamas.webp' %}">
            </a>
        </div>
    </div>
    <script src="{% static 'script/romance.js' %}"></script>
    <script src="{% static 'script/search_generos.js' %}"></script>
    <script src="{% static 'script/theme-global.js' %}"></script>
</body>
</html>