{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terror</title>
    <link rel="stylesheet" href="{% static 'CSS/terror.css' %}">
</head>
<body>

    <header>
        <h1>Terror</h1>
        <button id="toggleButton">Desativar</button>
        <div id = "confi">
        <form action="{% url 'index' %}" method="get">
            <button class="button" type="submit">
                Voltar
            </button>
        </form>
        </div>
    </header>
   
    <div class="centralizado">
    <form>
        <input type="text"  id="pesquisa" placeholder="Busque seu maior medo">
    </form>
    </div>

    <div class="linha-filmes">
        <div class="filme">
            <a href="{% url 'filme_legado' genero_atual='terror' legacy_path='terror/abruxa.html' %}">
                <img src="{% static 'img/terror/A bruxa.webp' %}">
            </a>
            <a href="{% url 'filme_legado' genero_atual='terror' legacy_path='terror/entidade.html' %}">
                <img src="{% static 'img/terror/A entidade.jpg' %}">
            </a>
            <a href="{% url 'filme_legado' genero_atual='terror' legacy_path='terror/paranormal.html' %}">
                <img src="{% static 'img/terror/Atividade Paranormal.webp' %}">
            </a>
            <a href="{% url 'filme_legado' genero_atual='terror' legacy_path='terror/corra.html' %}">
                <img src="{% static 'img/terror/Corra!.webp' %}">
            </a>
            <a href="{% url 'filme_legado' genero_atual='terror' legacy_path='terror/hereditario.html' %}">
                <img src="{% static 'img/terror/Hereditario.jpg' %}">
            </a>
            <a href="{% url 'filme_legado' genero_atual='terror' legacy_path='terror/invocaçaõ.html' %}">
                <img src="{% static 'img/terror/invocação do mal.png' %}">
            </a>
        </div>
    </div>
    <div class="linha-filmes">
        <div class="filme">
            <a href="{% url 'filme_legado' genero_atual='terror' legacy_path='terror/it.html' %}">
                <img src="{% static 'img/terror/it a coisa.webp' %}">
            </a>
            <a href="{% url 'filme_legado' genero_atual='terror' legacy_path='terror/mama.html' %}">
                <img src="{% static 'img/terror/mama.jpg' %}">
            </a>
            <a href="{% url 'filme_legado' genero_atual='terror' legacy_path='terror/massacre.html' %}">
                <img src="{% static 'img/terror/massacre da serra eletrica.webp' %}">
            </a>
            <a href="{% url 'filme_legado' genero_atual='terror' legacy_path='terror/chuck.html' %}">
                <img src="{% static 'img/terror/o culto de chuck.webp' %}">
            </a>
            <a href="{% url 'filme_legado' genero_atual='terror' legacy_path='terror/exorcita.html' %}">
                <img src="{% static 'img/terror/O exorcista.webp' %}">
            </a>
            <a href="{% url 'filme_legado' genero_atual='terror' legacy_path='terror/iluminado.html' %}">
                <img src="{% static 'img/terror/O iluminado.jpg' %}">
            </a>
        </div>
    </div>
    <script src="{% static 'script/terror.js' %}"></script>
    <script src="{% static 'script/search_generos.js' %}"></script>
    <script src="{% static 'script/theme-global.js' %}"></script>
</body>
</html>