{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brasileiro</title>
    <link rel="stylesheet" href="{% static 'CSS/brasileiro.css' %}">
</head>
<body>
    <header>
        <h1 id="text">brasileiro</h1>
        <form action="{% url 'index' %}" method="get">
            <button class="button" type="submit">
                Voltar
            </button>
        </form>
    </header>

    <div class="centralizado">
     <form>
        <input type="text" placeholder="Pesquisar pelo Brasil" id="pesquisa">
    </form>
   </div>
   
   <div class="linha-filmes">
    <div class="filme">
        <a href="{% url 'filme_legado' genero_atual='brasileiro' legacy_path='Braseleiro/bacurau.html' %}">
            <img src="{% static 'img/brasileiro/bacurau.jpg' %}">
        </a>
        <a href="{% url 'filme_legado' genero_atual='brasileiro' legacy_path='Braseleiro/areia.html' %}">
            <img src="{% static 'img/brasileiro/capitaes da areia.jpg' %}">
        </a>
        <a href="{% url 'filme_legado' genero_atual='brasileiro' legacy_path='Braseleiro/carandiru.html' %}">
            <img src="{% static 'img/brasileiro/carandiru.jpg' %}">
        </a>
        <a href="{% url 'filme_legado' genero_atual='brasileiro' legacy_path='Braseleiro/central.html' %}">
            <img src="{% static 'img/brasileiro/cemtral brasil.jpg' %}">
        </a>
        <a href="{% url 'filme_legado' genero_atual='brasileiro' legacy_path='Braseleiro/cidadeDeus.html' %}">
            <img src="{% static 'img/brasileiro/cidade de deus.jpg' %}">
        </a>
        <a href="{% url 'filme_legado' genero_atual='brasileiro' legacy_path='Braseleiro/estomago.html' %}">
            <img src="{% static 'img/brasileiro/Estômago.jpg' %}">
        </a>
    </div>
   </div>
   <div class="linha-filmes">
    <div class="filme">
        <a href="{% url 'filme_legado' genero_atual='brasileiro' legacy_path='Braseleiro/maniacoP.html' %}">
            <img src="{% static 'img/brasileiro/maniaco do parque.jpg' %}">
        </a>
        <a href="{% url 'filme_legado' genero_atual='brasileiro' legacy_path='Braseleiro/maepeça.html' %}">
            <img src="{% static 'img/brasileiro/Minha Mãe é uma Peça.jpg' %}">
        </a>
        <a href="{% url 'filme_legado' genero_atual='brasileiro' legacy_path='Braseleiro/palhaço.html' %}">
            <img src="{% static 'img/brasileiro/o palhaço.jpg' %}">
        </a>
        <a href="{% url 'filme_legado' genero_atual='brasileiro' legacy_path='Braseleiro/reflexoesL.html' %}">
            <img src="{% static 'img/brasileiro/reflexoes de um liquidificador.jpg' %}">
        </a>
        <a href="{% url 'filme_legado' genero_atual='brasileiro' legacy_path='Braseleiro/sefossevc.html' %}">
            <img src="{% static 'img/brasileiro/Se Eu Fosse Você.jpg' %}">
        </a>
        <a href="{% url 'filme_legado' genero_atual='brasileiro' legacy_path='Braseleiro/sonhoroubados.html' %}">
            <img src="{% static 'img/brasileiro/sonhos roubados.jpg' %}">
        </a>
    </div>
   </div>
   <script src="{% static 'script/brasileiro.js' %}"></script>
    <script src="{% static 'script/search_generos.js' %}"></script>
    <script src="{% static 'script/theme-global.js' %}"></script>
</body>
</html>