<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Carandiru</title>
    <link rel="stylesheet" href="/CSS/generosP.css" />
</head>
<body>
    <header>
        <h1>Carandiru</h1>
        <form action="/HTML/brasileiro.html" method="get">
            <button class="button" type="submit">Voltar</button>
        </form>
    </header><br />

    <h2>Descrição</h2>
    <main class="conteudo">
        <img src="/Imagens/brasileiro/carandiru.jpg" alt="Carandiru - Filme" />
        <p>
            Carandiru (2003) é um filme brasileiro dirigido por Hector Babenco, baseado no livro do médico Dráuzio Varella.
            O longa retrata a rotina do Complexo Penitenciário do Carandiru, em São Paulo, abordando histórias reais de presos,
            suas lutas, conflitos e o trágico massacre de 1992. Com uma narrativa forte e impactante,
            o filme revela as condições do sistema prisional brasileiro e a humanidade por trás das grades.
        </p>
    </main>

    <p id="trailer">Trailer</p>
    <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/BdLvrNz9tUk"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen>
    </iframe>
    <script src="/javascript/theme-global.js"></script>
</body>
</html>
