<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Central do Brasil</title>
    <link rel="stylesheet" href="/CSS/generosP.css" />
</head>
<body>
    <header>
        <h1>Central do Brasil</h1>
        <form action="/HTML/brasileiro.html" method="get">
            <button class="button" type="submit">Voltar</button>
        </form>
    </header><br />

    <h2>Descrição</h2>
    <main class="conteudo">
        <img src="/Imagens/brasileiro/cemtral brasil.jpg" alt="Central do Brasil - Filme" />
        <p>
            Central do Brasil (1998) é um drama brasileiro dirigido por Walter Salles, que conta a história de Dora, uma ex-professora que escreve cartas para analfabetos na estação Central do Brasil no Rio de Janeiro.
            Após uma tragédia, ela decide ajudar um menino chamado Josué a encontrar seu pai no interior do Brasil, iniciando uma jornada de descobertas, amizade e redenção.
            O filme é aclamado pela crítica e ganhou diversos prêmios internacionais.
        </p>
    </main>

    <p id="trailer">Trailer</p>
    <iframe
        width="560"
        height="315"
         src="https://www.youtube.com/embed/6gEX6YThMfg" 
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen>
    </iframe>
    <script src="/javascript/theme-global.js"></script>
</body>
</html>
