<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Maníaco do Parque</title>
    <link rel="stylesheet" href="/CSS/generosP.css" />
</head>
<body>
    <header>
        <h1>Maníaco do Parque</h1>
        <form action="/HTML/brasileiro.html" method="get">
            <button class="button" type="submit">Voltar</button>
        </form>
    </header><br />

    <h2>Descrição</h2>
    <main class="conteudo">
        <img src="/Imagens/brasileiro/maniaco do parque.jpg" alt="Maníaco do Parque - Documentário" />
        <p>
            "Maníaco do Parque" é um documentário brasileiro que investiga os crimes cometidos por Francisco de Assis Pereira nos anos 1990, em São Paulo.
            O criminoso atraía mulheres ao Parque do Estado, prometendo oportunidades como modelos, e as assassinava brutalmente.
            O caso chocou o país pela frieza dos crimes e pela forma como manipulava suas vítimas.
            O documentário revisita o caso com depoimentos de jornalistas, policiais e especialistas, além de abordar a repercussão midiática e as consequências para as vítimas sobreviventes e suas famílias.
        </p>
    </main>

    <p id="trailer">Trailer</p>
    <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/3759uEJ17gE"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen>
    </iframe>
    <script src="/javascript/theme-global.js"></script>
</body>
</html>
