<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Se Eu Fosse Você</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/generosP.css') }}" />
</head>
<body>
    <header>
        <h1>Se Eu Fosse Você</h1>
        <form action="/HTML/brasileiro.html" method="get">
            <button class="button" type="submit">Voltar</button>
        </form>
    </header><br />

    <h2>Descrição</h2>
    <main class="conteudo">
        <img src="{{ url_for('static', filename='img/brasileiro/Se Eu Fosse Você.jpg') }}" alt="Se Eu Fosse Você - Filme" />
        <p>
            "Se Eu Fosse Você" (2006) é uma comédia brasileira dirigida por Daniel Filho, estrelada por Tony Ramos e Glória Pires.
            O filme conta a história de um casal que, após uma discussão, misteriosamente troca de corpos, levando-os a viver a vida um do outro.
            Entre confusões e descobertas, eles aprendem a valorizar as diferenças e o relacionamento ganha uma nova perspectiva.
            O sucesso da comédia gerou uma continuação igualmente popular.
        </p>
    </main>

    <p id="trailer">Trailer</p>
    <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/lmf0XFlD3-M"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen>
    </iframe>
    <script src="{{ url_for('static', filename='script/theme-global.js') }}"></script>
</body>
</html>
