<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Azul é a Cor Mais Quente</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/generosP.css') }}" />
</head>
<body>
    <header>
        <h1>Azul é a Cor Mais Quente</h1>
        <form action="/HTML/romance.html" method="get">
            <button class="button" type="submit">Voltar</button>
        </form>
    </header><br />

    <h2>Descrição</h2>
    <main class="conteudo">
        <img src="{{ url_for('static', filename='img/romance/Azul é a cor mais quente.jpg') }}" alt="Azul é a Cor Mais Quente - Filme" />
        <p>
            "Azul é a Cor Mais Quente" (2013) é um drama romântico francês dirigido por Abdellatif Kechiche.
            O filme acompanha a jovem Adèle em sua descoberta da identidade e do amor, quando ela se envolve com Emma, uma artista de cabelos azuis.
            Retrata de forma intensa e sensível o despertar da sexualidade, a paixão e os desafios das relações humanas.
            O filme foi premiado com a Palma de Ouro no Festival de Cannes e é considerado uma obra marcante do cinema contemporâneo.
        </p>
    </main>

    <p id="trailer">Trailer</p>
    <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/lU5jrPnGAjU"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen>
    </iframe>
    <script src="{{ url_for('static', filename='script/theme-global.js') }}"></script>
</body>
</html>
