<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>O Culto de Chucky</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/generosP.css') }}" />
</head>
<body>
    <header>
        <h1>O Culto de Chucky</h1>
        <form action="/HTML/terror.html" method="get">
            <button class="button" type="submit">Voltar</button>
        </form>
    </header><br />

    <h2>Descrição</h2>
    <main class="conteudo">
        <img src="{{ url_for('static', filename='img/terror/o culto de chuck.webp') }}" alt="O Culto de Chucky - Filme" />
        <p>
            O Culto de Chucky (2017) é o sétimo filme da franquia "Brinquedo Assassino", onde Chucky retorna para aterrorizar Nica Pierce em um hospital psiquiátrico.
            Misturando terror e humor negro, o filme explora a influência maléfica da boneca assassina enquanto Nica luta para provar sua sanidade.
            Com sequências intensas e reviravoltas, é um filme que agrada os fãs da série e dos filmes de horror slasher.
        </p>
    </main>

    <p id="trailer">Trailer</p>
    <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/Ss6yjJ_GCao"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen>
    </iframe>
    <script src="{{ url_for('static', filename='script/theme-global.js') }}"></script>
</body>
</html>
