<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>O Iluminado</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/generosP.css') }}" />
</head>
<body>
    <header>
        <h1>O Iluminado</h1>
        <form action="/HTML/terror.html" method="get">
            <button class="button" type="submit">Voltar</button>
        </form>
    </header><br />

    <h2>Descrição</h2>
    <main class="conteudo">
        <img src="{{ url_for('static', filename='img/terror/o iluminado.jpg') }}" alt="O Iluminado - Filme" />
        <p>
            O Iluminado (1980) é um clássico do terror dirigido por Stanley Kubrick, baseado no romance de Stephen King.
            O filme acompanha Jack Torrance, um escritor que aceita o emprego de zelador em um hotel isolado durante o inverno,
            onde forças sobrenaturais e a loucura começam a afetar sua mente, colocando sua família em perigo.
            Conhecido por sua atmosfera inquietante e cenas icônicas, "O Iluminado" é um marco do gênero.
        </p>
    </main>

    <p id="trailer">Trailer</p>
    <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/5Cb3ik6zP2I"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen>
    </iframe>
    <script src="{{ url_for('static', filename='script/theme-global.js') }}"></script>
</body>
</html>
