<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>O Massacre da Serra Elétrica</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/generosP.css') }}" />
</head>
<body>
    <header>
        <h1>O Massacre da Serra Elétrica</h1>
        <form action="/HTML/terror.html" method="get">
            <button class="button" type="submit">Voltar</button>
        </form>
    </header><br />

    <h2>Descrição</h2>
    <main class="conteudo">
        <img src="{{ url_for('static', filename='img/terror/massacre da serra eletrica.webp') }}" alt="O Massacre da Serra Elétrica - Filme" />
        <p>
            O Massacre da Serra Elétrica (1974) é um dos filmes de terror mais icônicos da história do cinema.
            Dirigido por Tobe Hooper, o longa acompanha um grupo de jovens que, ao visitar uma área rural no Texas,
            acaba encontrando uma família de canibais, incluindo o infame Leatherface, que usa uma máscara feita de pele humana e uma motosserra como arma.
            O filme se destaca por sua atmosfera crua, tensa e perturbadora, e ajudou a moldar o gênero slasher como conhecemos hoje.
        </p>
    </main>

    <p id="trailer">Trailer</p>
    <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/hMI41c3STXw"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen>
    </iframe>
    <script src="{{ url_for('static', filename='script/theme-global.js') }}"></script>
</body>
</html>
