<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Atividade Paranormal</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/generosP.css') }}" />
</head>
<body>
    <header>
        <h1>Atividade Paranormal</h1>
        <form action="/HTML/terror.html" method="get">
            <button class="button" type="submit">Voltar</button>
        </form>
    </header><br />

    <h2>Descrição</h2>
    <main class="conteudo">
        <img src="{{ url_for('static', filename='img/terror/Atividade Paranormal.webp') }}" alt="Atividade Paranormal - Filme" />
        <p>
            Atividade Paranormal (2007) é um filme de terror no estilo found footage que acompanha um jovem casal,
            Katie e Micah, que começam a perceber fenômenos estranhos e perturbadores em sua casa.
            Para documentar e entender o que está acontecendo, eles instalam câmeras ao redor da residência, capturando eventos assustadores e inexplicáveis.
            O filme se destaca por criar uma atmosfera tensa e realista, explorando o medo do desconhecido com simplicidade e eficácia.
        </p>
    </main>

    <p id="trailer">Trailer</p>
    <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/yv9oGgGDBQE"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen>
    </iframe>
    <script src="{{ url_for('static', filename='script/theme-global.js') }}"></script>
</body>
</html>
