<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Harry Potter e a Pedra Filosofal</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/generosP.css') }}" />
</head>
<body>
    <header>
        <h1>Harry Potter e a Pedra Filosofal</h1>
        <form action="/HTML/ficcao.html" method="get">
            <button class="button" type="submit">Voltar</button>
        </form>
    </header><br />

    <h2>Descrição</h2>
    <main class="conteudo">
        <img src="{{ url_for('static', filename='img/ficção/harry potter.jpg') }}" alt="Harry Potter e a Pedra Filosofal - Filme" />
        <p>
            "Harry Potter e a Pedra Filosofal" (2001) é o primeiro filme da icônica franquia baseada nos livros de J.K. Rowling,
            dirigido por Chris Columbus. A história acompanha Harry Potter, um jovem órfão que descobre aos 11 anos que é um bruxo
            e é convidado a estudar na Escola de Magia e Bruxaria de Hogwarts. Lá, ele faz amizades duradouras com Rony Weasley e
            Hermione Granger e enfrenta desafios mágicos enquanto tenta impedir que a poderosa Pedra Filosofal caia em mãos erradas.
            O filme combina aventura, magia e mistério, introduzindo o público a um mundo fantástico que se tornaria um fenômeno global.
        </p>
    </main>

    <p id="trailer">Trailer</p>
    <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/VyHV0BRtdxo"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen>
    </iframe>
    <script src="{{ url_for('static', filename='script/theme-global.js') }}"></script>
</body>
</html>
