<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>O Castelo Animado</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/generosP.css') }}" />
</head>
<body>
    <header>
        <h1>O Castelo Animado</h1>
        <form action="/HTML/animacao.html" method="get">
            <button class="button" type="submit">Voltar</button>
        </form>
    </header><br />

    <h2>Descrição</h2>
    <main class="conteudo">
        <img src="{{ url_for('static', filename='img/animação/castelo animado.jpg') }}" alt="O Castelo Animado - Filme" />
        <p>
            "O Castelo Animado" (2004), dirigido por Hayao Miyazaki, é um filme de animação japonês baseado no romance de Diana Wynne Jones.
            A história acompanha Sophie, uma jovem transformada em uma senhora idosa por uma bruxa, que busca ajuda no mágico e enigmático Castelo Animado,
            comandado pelo misterioso Howl.
            O filme mistura aventura, magia e romance, e é reconhecido por sua beleza visual e narrativa cativante.
        </p>
    </main>

    <p id="trailer">Trailer</p>
    <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/iwROgK94zcM"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen>
    </iframe>
    <script src="{{ url_for('static', filename='script/theme-global.js') }}"></script>
</body>
</html>
