<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Coraline e o Mundo Secreto</title>
    <link rel="stylesheet" href="/CSS/generosP.css" />
</head>
<body>
    <header>
        <h1>Coraline e o Mundo Secreto</h1>
        <form action="/HTML/animacao.html" method="get">
            <button class="button" type="submit">Voltar</button>
        </form>
    </header><br />

    <h2>Descrição</h2>
    <main class="conteudo">
        <img src="/Imagens/animação/coraline.jpg" alt="Coraline e o Mundo Secreto - Filme" />
        <p>
            "Coraline e o Mundo Secreto" (2009), dirigido por Henry Selick, é um filme de animação stop-motion baseado no livro de Neil Gaiman.
            A história acompanha Coraline, uma garota que descobre uma porta secreta em sua nova casa que a leva a um universo paralelo assustador,
            onde tudo parece perfeito, mas esconde segredos sombrios.
            É um filme que mistura fantasia, suspense e aventura, muito elogiado pela sua criatividade e atmosfera única.
        </p>
    </main>

    <p id="trailer">Trailer</p>
    <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/m9bOpeuvNwY" 
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen>
    </iframe>
    <script src="/javascript/theme-global.js"></script>
</body>
</html>
