<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>A Era do Gelo 2</title>
    <link rel="stylesheet" href="/CSS/generosP.css" />
</head>
<body>
    <header>
        <h1>A Era do Gelo 2</h1>
        <form action="/HTML/animacao.html" method="get">
            <button class="button" type="submit">Voltar</button>
        </form>
    </header><br />

    <h2>Descrição</h2>
    <main class="conteudo">
        <img src="/Imagens/animação/era do gelo.webp" alt="A Era do Gelo 2 - Filme" />
        <p>
            "A Era do Gelo 2" (2006), dirigido por Carlos Saldanha e Mike Thurmeier, é a sequência da popular animação da Blue Sky Studios.
            Na continuação, Manny, Sid, Diego e seus amigos enfrentam o derretimento da geleira que ameaça seu vale,
            embarcando em uma aventura repleta de humor, amizade e desafios para encontrar um novo lar seguro.
        </p>
    </main>

    <p id="trailer">Trailer</p>
    <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/gQH0EZpKWxA"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen>
    </iframe>
    <script src="/javascript/theme-global.js"></script>
</body>
</html>
