<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Kung Fu Panda</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/generosP.css') }}" />
</head>
<body>
    <header>
        <h1>Kung Fu Panda</h1>
        <form action="/HTML/animacao.html" method="get">
            <button class="button" type="submit">Voltar</button>
        </form>
    </header><br />

    <h2>Descrição</h2>
    <main class="conteudo">
        <img src="{{ url_for('static', filename='img/animação/kung fu.jpg') }}" alt="Kung Fu Panda - Filme" />
        <p>
            "Kung Fu Panda" (2008), dirigido por Mark Osborne e John Stevenson, é um filme de animação que conta a história de Po,
            um panda desajeitado que sonha em se tornar um mestre de kung fu.
            Quando uma ameaça coloca a paz do Vale da Paz em risco, Po é escolhido para cumprir uma antiga profecia,
            iniciando uma jornada divertida e emocionante de autodescoberta e coragem.
            O filme é conhecido por suas cenas de ação, humor e personagens cativantes.
        </p>
    </main>

    <p id="trailer">Trailer</p>
    <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/jZzvRsU-swo"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen>
    </iframe>
    <script src="{{ url_for('static', filename='script/theme-global.js') }}"></script>
</body>
</html>
