<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Por Água Abaixo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/generosP.css') }}" />
</head>
<body>
    <header>
        <h1>Por Água Abaixo</h1>
        <form action="/HTML/animacao.html" method="get">
            <button class="button" type="submit">Voltar</button>
        </form>
    </header><br />

    <h2>Descrição</h2>
    <main class="conteudo">
        <img src="{{ url_for('static', filename='img/animação/por agua abaixo.jpg') }}" alt="Por Água Abaixo - Filme" />
        <p>
            "Por Água Abaixo" (2006), dirigido por David Bowers e Sam Fell, é uma animação que mistura técnicas de computação gráfica e stop-motion.
            A história acompanha Roddy, um rato mimado que vive em um apartamento de luxo em Londres,
            mas acaba sendo jogado no esgoto, onde conhece novos amigos e enfrenta desafios para voltar para casa.
            É um filme divertido e cheio de aventura.
        </p>
    </main>

    <p id="trailer">Trailer</p>
    <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/UVzdqPepzng" 
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen>
    </iframe>
    <script src="{{ url_for('static', filename='script/theme-global.js') }}"></script>
</body>
</html>
