<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ratatouille</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/generosP.css') }}" />
</head>
<body>
    <header>
        <h1>Ratatouille</h1>
        <form action="/HTML/animacao.html" method="get">
            <button class="button" type="submit">Voltar</button>
        </form>
    </header>

    <main>
        <section class="descricao">
            <h2>Descrição</h2>
            <div class="conteudo">
                <img 
                    src="{{ url_for('static', filename='img/animação/ratatuli.jpg') }}" 
                    alt="Pôster do filme Ratatouille" 
                />
    <p>
        "Ratatouille" (2007) é uma animação da Pixar dirigida por Brad Bird e Jan Pinkava.
        A história segue Remy, um rato com um paladar refinado que sonha em se tornar chef em um dos melhores restaurantes de Paris.
        Mesmo sendo um roedor em um mundo onde ratos são indesejados, Remy desafia as probabilidades e prova que
        qualquer um pode cozinhar — desde que tenha paixão e talento.
        O filme é aclamado por sua animação detalhada, humor inteligente e mensagem inspiradora sobre seguir seus sonhos.
    </p>

            </div>
        </section>

        <section class="trailer">
            <h2>Trailer</h2>
            <div class="video-container">
                <iframe
                    width="560"
                    height="315"
                    src="https://www.youtube.com/embed/NgsQ8mVkN8w"
                    title="Trailer do filme Ratatouille"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen>
                </iframe>
            </div>
        </section>
    </main>
    <script src="{{ url_for('static', filename='script/theme-global.js') }}"></script>
</body>
</html>
