<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Homem-Aranha: Através do Aranhaverso</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/generosP.css') }}" />
</head>
<body>
    <header>
        <h1>Homem-Aranha: Através do Aranhaverso</h1>
        <form action="/HTML/animacao.html" method="get">
            <button class="button" type="submit">Voltar</button>
        </form>
    </header><br />

    <h2>Descrição</h2>
    <main class="conteudo">
        <img src="{{ url_for('static', filename='img/animação/homem aranha.jpg') }}" alt="Homem-Aranha: Através do Aranhaverso - Filme" />
        <p>
            "Homem-Aranha: Através do Aranhaverso" (2023) é a sequência do aclamado filme animado "Homem-Aranha no Aranhaverso".
            Dirigido por Joaquim Dos Santos, Kemp Powers e Justin K. Thompson, o filme continua a jornada de Miles Morales enquanto ele explora múltiplos universos,
            enfrentando novos desafios e aliados.
            Com uma animação inovadora e visualmente impressionante, é um marco na animação contemporânea.
        </p>
    </main>

    <p id="trailer">Trailer</p>
    <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/g4Hbz2jLxvQ"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen>
    </iframe>
    <script src="{{ url_for('static', filename='script/theme-global.js') }}"></script>
</body>
</html>
