<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Up: Altas Aventuras</title>
    <link rel="stylesheet" href="/CSS/generosP.css" />
</head>
<body>
    <header>
        <h1>Up: Altas Aventuras</h1>
        <form action="/HTML/animacao.html" method="get">
            <button class="button" type="submit">Voltar</button>
        </form>
    </header>

    <main>
        <section class="descricao">
            <h2>Descrição</h2>
            <div class="conteudo">
                <img 
                    src="/Imagens/animação/up altas aventuras.jpg" 
                    alt="Pôster do filme Up: Altas Aventuras"/>
    <p>
        "Up: Altas Aventuras" (2009) é uma animação da Pixar dirigida por Pete Docter e Bob Peterson.
        O filme conta a emocionante história de Carl Fredricksen, um idoso viúvo que decide realizar o sonho de sua falecida esposa:
        viajar para a América do Sul em sua casa levantada por milhares de balões. 
        Durante a jornada, ele acaba levando junto o jovem escoteiro Russell, e juntos vivem uma aventura cheia de humor,
        emoção e lições sobre amizade, perda e novos começos.
        O filme é amplamente elogiado por seu enredo tocante e trilha sonora inesquecível.
    </p>

            </div>
        </section>

        <section class="trailer">
            <h2>Trailer</h2>
            <div class="video-container">
                <iframe
                    width="560"
                    height="315"
                    src="https://www.youtube.com/embed/HWEW_qTLSEE"
                    title="Trailer do filme Up: Altas Aventuras"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen>
                </iframe>
            </div>
        </section>
    </main>
    <script src="/javascript/theme-global.js"></script>
</body>
</html>
