<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comedia</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/comedia.css') }}">
</head>
<body>
    <header>
        <h1>Comédia</h1>
        <form action="{{ url_for('home.index') }}" method="get">
            <button class="button" type="submit">
                Voltar
            </button>
        </form>
        <button id="toggleButton">
            Desativar risadas
        </button>
    </header>

    <form>
        <div class="centralizado">
            <input type="text" class="pesquisa" placeholder="Busque pela Comedia">
        </div>
    </form>

    <div class="linha-filmes">
        <div class="filme">
            <a href="./generosP/Comedia/branquelas.html">
                <img src="{{ url_for('static', filename='img/comedia/As branquelas.jpeg') }}">
            </a>
            <a href="./generosP/Comedia/click.html">
                <img src="{{ url_for('static', filename='img/comedia/Click.jpg') }}">
            </a>
            <a href="./generosP/Comedia/deadpool.html">
                <img src="{{ url_for('static', filename='img/comedia/DeadPool.png') }}">
            </a>
            <a href="./generosP/Comedia/esposa.html">
                <img src="{{ url_for('static', filename='img/comedia/esposa de mentirinhae.jpg') }}">
            </a>
            <a href="./generosP/Comedia/feriasfrustadas.html">
                <img src="{{ url_for('static', filename='img/comedia/ferias frustadas.jpg') }}">
            </a>
            <a href="./generosP/Comedia/superbad.html">
                <img src="{{ url_for('static', filename='img/comedia/SuperBad.webp') }}">
            </a>
        </div>
    </div>  
    <div class="linha-filmes">
        <div class="filme">
            <a href="./generosP/Comedia/gentegrande2.html">
                <img src="{{ url_for('static', filename='img/comedia/gente grande 2.jpg') }}">
            </a>
            <a href="./generosP/Comedia/debiloide.html">
                <img src="{{ url_for('static', filename='img/comedia/debi$loide.jfif') }}">
            </a>
            <a href="./generosP/Comedia/jojorabbit.html">
                <img src="{{ url_for('static', filename='img/comedia/Jojo rabbit.webp') }}">
            </a>
            <a href="./generosP/Comedia/virgem40.html">
                <img src="{{ url_for('static', filename='img/comedia/O virgem aos 40.webp') }}">
            </a>
            <a href="./generosP/Comedia/6ridiculos.html">
                <img src="{{ url_for('static', filename='img/comedia/Os 6 ridiculos.jpg') }}">
            </a>
            <a href="./generosP/Comedia/segurança.html">
                <img src="{{ url_for('static', filename='img/comedia/Segurança de guarda.webp') }}">
            </a>
        </div>
    </div>
    <script src="{{ url_for('static', filename='script/comedia.js') }}"></script>
    <script src="{{ url_for('static', filename='script/theme-global.js') }}"></script>
</body>
</html>