<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/login.css') }}">
</head>
<body>
   <div class="tab">
            <a href="{{ url_for('home.index') }}">Início</a>
            <a href="{{ url_for('home.sobre') }}">Sobre</a>
            <a href="{{ url_for('home.novidades') }}">Novidades</a>
        </div>
    <div class="content">
        <div class="container">
            <h1>Login</h1><h2 id="h">Cinetrakiio</h1>
            <form>
                <p>Nome</p>
                <input type="text" placeholder="Nome">
                <p>Senha</p>
                <input type="password" placeholder="Senha">
                <button type="submit">Entrar</button>
                <a href="{{ url_for('cadastro.cadastro_page') }}" class="cadastro">
                    não tem conta?Crie uma
                </a>
            </form>
        </div>
    </div>
    <script src="{{ url_for('static', filename='script/theme-global.js') }}"></script>
</body>
</html>
