<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>O Diário de uma Paixão</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/generosP.css') }}" />
</head>
<body>
    <header>
        <h1>O Diário de uma Paixão</h1>
        <form action="/HTML/romance.html" method="get">
            <button class="button" type="submit">Voltar</button>
        </form>
    </header><br />

    <h2>Descrição</h2>
    <main class="conteudo">
        <img src="{{ url_for('static', filename='img/romance/Diario de uma paixão.jpg') }}" alt="O Diário de uma Paixão - Filme" />
        <p>
            "O Diário de uma Paixão" (2004) é um drama romântico dirigido por Nick Cassavetes, baseado no livro de Nicholas Sparks.
            O filme narra a história de Noah e Allie, um casal apaixonado que enfrenta diferenças sociais e familiares para viver seu amor verdadeiro.
            Comovente e intenso, o filme é um dos maiores sucessos do gênero romântico, destacando-se pela química dos protagonistas e sua narrativa emocionante.
        </p>
    </main>

    <p id="trailer">Trailer</p>
    <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/DyfWPxB1pZM"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen>
    </iframe>
    <script src="{{ url_for('static', filename='script/theme-global.js') }}"></script>
</body>
</html>
