<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Na Natureza Selvagem</title>
    <link rel="stylesheet" href="/CSS/generosP.css" />
</head>
<body>
    <header>
        <h1>Na Natureza Selvagem</h1>
        <form action="/HTML/romance.html" method="get">
            <button class="button" type="submit">Voltar</button>
        </form>
    </header><br />

    <h2>Descrição</h2>
    <main class="conteudo">
        <img src="/Imagens/romance/Na Natureza Selvagem.jpg" alt="Na Natureza Selvagem - Filme" />
        <p>
            "Na Natureza Selvagem" (2007), dirigido por Sean Penn, é baseado em uma história real e no livro homônimo de Jon Krakauer.
            O filme conta a jornada de Christopher McCandless, um jovem recém-formado que decide abandonar sua vida confortável e viajar pelos Estados Unidos em busca de liberdade, autoconhecimento e conexão com a natureza.
            Com uma trilha sonora marcante, paisagens deslumbrantes e uma reflexão profunda sobre a sociedade moderna, o filme é uma poderosa ode à liberdade e ao espírito humano.
        </p>
    </main>

    <p id="trailer">Trailer</p>
    <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/g7ArZ7VD-QQ"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen>
    </iframe>
    <script src="/javascript/theme-global.js"></script>
</body>
</html>
