<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Orgulho & Preconceito</title>
    <link rel="stylesheet" href="/CSS/generosP.css" />
</head>
<body>
    <header>
        <h1>Orgulho & Preconceito</h1>
        <form action="/HTML/romance.html" method="get">
            <button class="button" type="submit">Voltar</button>
        </form>
    </header><br />

    <h2>Descrição</h2>
    <main class="conteudo">
        <img src="/Imagens/romance/Orgulho e preconceito.webp" alt="Orgulho & Preconceito - Filme" />
        <p>
            "Orgulho & Preconceito" (2005), dirigido por Joe Wright, é uma adaptação do clássico romance de Jane Austen.
            O filme narra a história de Elizabeth Bennet, uma jovem inteligente e independente, e Mr. Darcy, um homem orgulhoso e reservado,
            cujas diferenças e mal-entendidos se transformam em uma profunda história de amor.
            Com atuações marcantes e belíssimas paisagens, o filme é um dos mais celebrados romances históricos do cinema.
        </p>
    </main>

    <p id="trailer">Trailer</p>
    <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/fJA27Jujzq4"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen>
    </iframe>
    <script src="/javascript/theme-global.js"></script>
</body>
</html>
