<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Férias Frustradas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/generosP.css') }}">
</head>
<body>
    <header>
        <h1>Férias Frustradas</h1>
        <form action="/HTML/comedia.html" method="get">
            <button class="button" type="submit">
                Voltar
            </button>
        </form>
    </header><br>

    <h2>Descrição</h2>
    <main class="conteudo">
        <img src="{{ url_for('static', filename='img/comedia/ferias frustadas.jpg') }}" alt="Férias Frustradas - Filme">
        <p>
            Férias Frustradas (2015) é uma comédia que traz de volta o espírito da clássica franquia "National Lampoon's Vacation".
            O filme acompanha Rusty Griswold (Ed Helms), agora adulto, que decide repetir a viagem de infância ao parque de diversões Walley World com sua esposa (Christina Applegate) e seus dois filhos.
            Mas como toda viagem dos Griswold, nada sai como o planejado. Cheio de situações embaraçosas, piadas ousadas e momentos hilários,
            o filme é uma mistura de nostalgia e comédia moderna, perfeita para quem gosta de humor escrachado.
        </p>  
    </main>

    <p id="trailer">Trailer</p>
    <iframe 
        width="560" 
        height="315" 
        src="https://www.youtube.com/embed/vMtOC4Hp8Vw" 
        frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
        allowfullscreen>
    </iframe>
    <script src="{{ url_for('static', filename='script/theme-global.js') }}"></script>
</body>
</html>
