<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gente Grande 2</title>
    <link rel="stylesheet" href="/CSS/generosP.css">
</head>
<body>
    <header>
        <h1>Gente Grande 2</h1>
        <form action="/HTML/comedia.html" method="get">
            <button class="button" type="submit">
                Voltar
            </button>
        </form>
    </header><br>

    <h2>Descrição</h2>
    <main class="conteudo">
        <img src="/Imagens/comedia/gente grande 2.jpg" alt="Gente Grande 2 - Filme">
        <p>
            Gente Grande 2 (2013) é a continuação da comédia de sucesso estrelada por Adam Sandler, Kevin James, Chris Rock e David Spade.
            Nesta sequência, Lenny (Sandler) decide se mudar com sua família de volta para sua cidade natal, na tentativa de oferecer uma vida mais tranquila para seus filhos.
            Porém, ele logo descobre que a vida no subúrbio também tem seus desafios — especialmente com seus antigos amigos por perto.
            Repleto de situações engraçadas, pegadinhas e confusões típicas de adultos que se recusam a crescer, o filme garante boas risadas do início ao fim.
        </p>  
    </main>

    <p id="trailer">Trailer</p>
    <iframe 
        width="560" 
        height="315" 
        src="https://www.youtube.com/embed/U4IVNvPu134" 
        frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
        allowfullscreen>
    </iframe>
    <script src="/javascript/theme-global.js"></script>
</body>
</html>
