<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Sonhos Roubados</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/generosP.css') }}" />
</head>
<body>
    <header>
        <h1>Sonhos Roubados</h1>
        <form action="/HTML/brasileiro.html" method="get">
            <button class="button" type="submit">Voltar</button>
        </form>
    </header><br />

    <h2>Descrição</h2>
    <main class="conteudo">
        <img src="{{ url_for('static', filename='img/brasileiro/sonhos roubados.jpg') }}" alt="Sonhos Roubados - Documentário" />
        <p>
            "Sonhos Roubados" (2009) é um documentário brasileiro dirigido por Sandra Werneck e Hilton Lacerda que retrata a vida de adolescentes nordestinos que migram para o Rio de Janeiro em busca de um futuro melhor.
            O filme denuncia o trabalho infantil e as condições difíceis enfrentadas por esses jovens, que muitas vezes são forçados a abandonar seus sonhos para sobreviver.
            Uma obra sensível que traz à tona questões sociais importantes e a luta pela dignidade e direitos das crianças e adolescentes no Brasil.
        </p>
    </main>

    <p id="trailer">Trailer</p>
    <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/BbEE18-C0No"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen>
    </iframe>
    <script src="{{ url_for('static', filename='script/theme-global.js') }}"></script>
</body>
</html>
