{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="{% static 'CSS/cadastro.css' %}">
</head>
<body>
    <div class="site-position">
        <a href="{% url 'index' %}" class="site-href">
            <h1 class="site-name">
                Cinetrakiio🍿
            </h1>
        </a>
    </div>
    <div class="content">
        <div class="container">
            <h1>Cadastro</h1>
            <form>
                <p>Nome</p>
                <input type="text" placeholder="Nome">
                <p>Senha</p>
                <input type="password" placeholder="Senha">
                <p>Email</p>
                <input type="text" placeholder="Email">
                <p>Idade</p>
                <input type="date">
                <p>Número</p>
                <input type="text" placeholder="Número">
                <button type="submit">Entrar</button>
                <a href="{% url 'login' %}" class="logado">
                    Já tem conta?Entre nela
                </a>
            </form>
        </div>
    </div>
    <script src="{% static 'script/theme-global.js' %}"></script>
</body>
</html>