<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Blade Runner: O Caçador de Andróides</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/generosP.css') }}" />
</head>
<body>
    <header>
        <h1>Blade Runner: O Caçador de Andróides</h1>
        <form action="/HTML/ficcao.html" method="get">
            <button class="button" type="submit">Voltar</button>
        </form>
    </header><br />

    <h2>Descrição</h2>
    <main class="conteudo">
        <img src="{{ url_for('static', filename='img/ficção/blade runner.jpg') }}" alt="Blade Runner: O Caçador de Andróides - Filme" />
        <p>
            "Blade Runner: O Caçador de Andróides" (1982) é um marco da ficção científica dirigido por <em>Ridley Scott</em>.
            Ambientado em um futuro distópico, o filme acompanha Rick Deckard, um caçador de andróides (replicantes)
            que deve localizar e “aposentar” modelos fugitivos que se misturam aos humanos.
            Com uma estética cyberpunk única e questionamentos filosóficos sobre o que significa ser humano,
            o filme se tornou uma obra cult e referência para o gênero.
        </p>
    </main>

    <p id="trailer">Trailer</p>
    <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/eogpIG53Cis"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen>
    </iframe>
    <script src="{{ url_for('static', filename='script/theme-global.js') }}"></script>
</body>
</html>
