<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Star Wars: Episódio IV – Uma Nova Esperança</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/generosP.css') }}" />
</head>
<body>
    <header>
        <h1>Star Wars: Episódio IV – Uma Nova Esperança</h1>
        <form action="/HTML/ficcao.html" method="get">
            <button class="button" type="submit">Voltar</button>
        </form>
    </header><br />

    <h2>Descrição</h2>
    <main class="conteudo">
        <img src="{{ url_for('static', filename='img/ficção/star wars.png') }}" alt="Star Wars: Episódio IV – Uma Nova Esperança - Filme" />
    <p>
        "Star Wars: Episódio IV – Uma Nova Esperança" (1977) é o primeiro filme da icônica saga criada por George Lucas.
        A história segue Luke Skywalker, um jovem fazendeiro que descobre seus poderes na Força e se une à Princesa Leia,
        ao contrabandista Han Solo e ao sábio Obi-Wan Kenobi para lutar contra o maligno Império Galáctico
        e seu temível líder, Darth Vader. O filme é famoso por suas batalhas espaciais, personagens memoráveis e universo expansivo,
        tornando-se um marco da ficção científica e cultura pop.
    </p>

    </main>

    <p id="trailer">Trailer</p>
    <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/vZ734NWnAHA"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen>
    </iframe>
    <script src="{{ url_for('static', filename='script/theme-global.js') }}"></script>
</body>
</html>
