<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>A Bruxa de Blair</title>
    <link rel="stylesheet" href="/CSS/generosP.css" />
</head>
<body>
    <header>
        <h1>A Bruxa de Blair</h1>
        <form action="/HTML/terror.html" method="get">
            <button class="button" type="submit">Voltar</button>
        </form>
    </header><br />

    <h2>Descrição</h2>
    <main class="conteudo">
        <img src="/Imagens/terror/A bruxa.webp" alt="A Bruxa de Blair - Filme" />
        <p>
            A Bruxa de Blair (1999) é um filme de terror que revolucionou o gênero com seu estilo found footage.
            Três estudantes de cinema desaparecem enquanto filmam um documentário sobre a lenda da Bruxa de Blair, uma entidade misteriosa que assombra uma floresta em Maryland.
            O filme utiliza cenas gravadas com câmeras amadoras para criar uma atmosfera tensa e assustadora,
            explorando o medo do desconhecido e o poder da sugestão para manter o espectador na beira do assento.
        </p>
    </main>

    <p id="trailer">Trailer</p>
    <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/VRL1-TxOqKk"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen>
    </iframe>
    <script src="/javascript/theme-global.js"></script>
</body>
</html>
