<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>O Exorcista</title>
    <link rel="stylesheet" href="/CSS/generosP.css" />
</head>
<body>
    <header>
        <h1>O Exorcista</h1>
        <form action="/HTML/terror.html" method="get">
            <button class="button" type="submit">Voltar</button>
        </form>
    </header><br />

    <h2>Descrição</h2>
    <main class="conteudo">
        <img src="/Imagens/terror/O exorcista.webp" alt="O Exorcista - Filme" />
        <p>
            O Exorcista (1973) é um dos filmes de terror mais influentes e assustadores da história do cinema.
            Dirigido por William Friedkin, acompanha a luta de um padre para salvar uma jovem garota possuída por uma entidade demoníaca.
            Com cenas icônicas e uma atmosfera tensa, o filme explora temas de fé, maldade e o sobrenatural, deixando uma marca duradoura no gênero terror.
        </p>
    </main>

    <p id="trailer">Trailer</p>
    <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/4x6a6igB1AQ"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen>
    </iframe>
    <script src="/javascript/theme-global.js"></script>
</body>
</html>
