<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Hereditário</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/generosP.css') }}" />
</head>
<body>
    <header>
        <h1>Hereditário</h1>
        <form action="/HTML/terror.html" method="get">
            <button class="button" type="submit">Voltar</button>
        </form>
    </header><br />

    <h2>Descrição</h2>
    <main class="conteudo">
        <img src="{{ url_for('static', filename='img/terror/hereditario.jpg') }}" alt="Hereditário - Filme" />
        <p>
            Hereditário (2018) é um filme de terror psicológico dirigido por Ari Aster que acompanha a família Graham após a morte da avó materna.
            Conforme segredos sombrios e eventos perturbadores começam a surgir, a família se vê presa em uma teia de tragédias e mistérios sobrenaturais.
            O filme é aclamado pela sua atmosfera opressiva, atuações intensas e uma narrativa que explora o luto, a culpa e o horror familiar.
        </p>
    </main>

    <p id="trailer">Trailer</p>
    <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/Ui13PlmyZhQ?si=3Ef_8jGb7mAz8UCf"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen>
    </iframe>
    <script src="{{ url_for('static', filename='script/theme-global.js') }}"></script>
</body>
</html>
