<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Invocação do Mal</title>
    <link rel="stylesheet" href="/CSS/generosP.css" />
</head>
<body>
    <header>
        <h1>Invocação do Mal</h1>
        <form action="/HTML/terror.html" method="get">
            <button class="button" type="submit">Voltar</button>
        </form>
    </header><br />

    <h2>Descrição</h2>
    <main class="conteudo">
        <img src="/Imagens/terror/invocação do mal.png" alt="Invocação do Mal - Filme" />
        <p>
            Invocação do Mal (2013) é um filme de terror dirigido por James Wan, baseado em fatos reais, que acompanha os investigadores paranormais Ed e Lorraine Warren.
            Eles ajudam uma família aterrorizada por uma presença demoníaca em sua fazenda na década de 1970.
            Com uma atmosfera tensa, sustos eficazes e uma narrativa envolvente, o filme tornou-se um marco moderno do gênero.
        </p>
    </main>

    <p id="trailer">Trailer</p>
    <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/k10ETZ41q5o"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen>
    </iframe>
    <script src="/javascript/theme-global.js"></script>
</body>
</html>
